* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b91c1c;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    background-color: #f8fafc;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 650px;
    width: 350px;
    border: 6px solid #0f172a;
    border-radius: 10px;
}
.pokemon-id {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.6;
    z-index: 1;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #ffcb05;
}
button {
    background-color: #3b4cca;
    color: white;
    border: 2px solid #ffcb05;
    transition: 0.3s;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}
button:active {
    transform: scale(0.9);
    box-shadow: none;
}
input {
    padding: 5px;
    padding-left: 10px;
    border: 3px solid #0f172a;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
}

.procura {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
#main-title {
    margin-top: 20px;
}
.pesquisa-btn {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.loading-busca {
    padding: 10px;
    font-size: 16px;
}
.bg-search {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.erro {
    background-color: black;
    color: red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.erro-container {
    max-width: 70%;
    margin-top: 30px;
}
.autocomplete {
    top: 100%;
    left: 0;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
    z-index: 10;
    margin-top: 5px;
}
.autocomplete-scroll {
    max-height: 400px;
    overflow-y: auto;
}
.input-container {
    position: relative;
}
.item {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.item:hover {
    background: #f2f2f2;
}
.selecionado {
    background-color: #3b4cca;
    color: white;
    transition: 0.2s;
}
.aviso-de-quantidade{
    background-color: white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
}